#RaidOverallContainer {
    display: flex;
    flex-direction: row;
}

#RaidOverallContainer #FilterContainer {
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
}

#RaidSummaryContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

@media (min-width: 1501px) {
    #RaidOverallContainer #FilterContainer {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}

@media (max-width: 1500px) {
    #RaidOverallContainer {
        flex-direction: column;
    }

    #RaidOverallContainer > #RaidSummaryContainer {
        margin-top: 1rem;
    }
}
