header {
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > .navbar-brand {
    flex: 1;
    color: var(--bs-body-color);
    margin-right: 0 !important;
}

header h1 {
    margin-bottom: 0;
}

header #themeSwitch {
    margin-top: 5px;
}

@media (min-width: 768px) {
    header #responsive-navbar-nav {
        display: none !important;
    }
}

@media (max-width: 767px) {
    header {
        display: block;
    }
}
