#RaidOverallContainer #FilterContainer {
    white-space: normal;
    text-overflow: clip;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#FilterContainer > hr {
    width: 275px;
}

#FilterContainer > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    gap: 1rem;
}

#FilterContainer .form-control:focus,
#FilterContainer .form-control:hover {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
}

#FilterContainer > div > div > label {
    color: #adb5bd;
    font-weight: 400;
}

#FilterContainer > #FilterDates > input {
    height: 60px;
    padding-top: 1.9rem;
}

@media (min-width: 1501px) {
    #FilterContainer {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (max-width: 1500px) {
    #FilterContainer > hr {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        max-width: 750px;
    }

    #FilterContainer > div {
        max-width: 1000px;
        min-width: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }

    #FilterContainer > div > * {
        flex: 1 1 calc(33.333% - 1rem);
        min-width: 200px;
    }
}

@media (max-width: 850px) {
    #FilterContainer > div {
        max-width: 1000px;
        min-width: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;
    }
}

@media (max-width: 682px) {
    #FilterContainer #NameInput {
        flex: 1 1 100%; /* Makes the NameInput take full width */
        min-width: 100%;
    }
}
