[data-bs-theme="dark"] {
    #SideNavigationBar #SideBarContacts svg path {
        fill: #ffffff;
    }
}

[data-bs-theme="light"] {
    #SideNavigationBar #SideBarContacts svg path {
        fill: #000000;
    }
}

#SideNavigationBar {
    height: 80dvh;
    position: fixed;
    margin-top: 80px;
    width: var(--side-navigation-width);
}

@media (max-width: 767px) {
    #SideNavigationBar {
        display: none !important;
    }
}
