[data-bs-theme="dark"] {
    #SideNavigationBar > ul > li > a {
        --bs-nav-link-color: #fff;
        --bs-nav-link-hover-color: #ffffffa1;
        --bs-nav-link-disabled-color: #ffffff60;
    }
}

[data-bs-theme="light"] {
    #SideNavigationBar a svg {
        fill: #000000;
    }
}

#SideNavigationBar {
    height: 80dvh;
    position: fixed;
    margin-top: 80px;
    width: var(--side-navigation-width);
}

#SideNavigationBar a.nav-link {
    fill: #fff;
}

@media (max-width: 767px) {
    #SideNavigationBar {
        display: none !important;
    }
}
