#AccessToken .input-with-button {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
}

#AccessToken .input-with-button .form-control {
    padding-right: 80px; /* Adjust based on button width */
    flex: 1;
}

#AccessToken .input-with-button .btn-copy {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    border-radius: var(--bs-border-radius);
}

#CharacterManager {
    width: 685px;
}

#CharacterManager > div > table {
    background-color: #000;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#CharacterManager table thead {
    font-size: 14px;
}

#CharacterManager table thead tr th,
#CharacterManager table tbody tr td {
    padding: 0.4rem 0.5rem;
    text-wrap: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

#CharacterManager table tbody {
    background-color: #282830;
}

#CharacterManager table tbody tr:first-child {
    border-top: none !important;
}

#CharacterManager table tbody tr td img {
    height: 28px;
    width: 28px;
}

#CharacterManager table tbody tr td button {
    padding-top: 0.0675rem;
    padding-bottom: 0.0675rem;
    font-size: 14px;
}

#CharacterManager table tbody tr td .form-check-input {
    margin-top: 0;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}

@media (max-width: 767px) {
    main#Profile {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
