#AccessToken .input-with-button {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 325px;
}

#AccessToken .input-with-button .form-control {
    padding-right: 80px; /* Adjust based on button width */
    flex: 1;
}

#AccessToken .input-with-button .btn-copy {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    border-radius: var(--bs-border-radius);
}

#AccessToken .gen-rev-container > button {
    width: 90px;
    height: 37px;
}

#CharacterManager {
    width: 755px;
}

#CharacterManager > div {
    background-color: #000;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#CharacterManager > button {
    width: 90px;
    height: 37px;
}

#CharacterManager table thead {
    font-size: 14px;
}

#CharacterManager table thead tr th {
    text-wrap: wrap;
}

#CharacterManager table tbody tr td {
    text-wrap: nowrap;
}

#CharacterManager table thead tr th,
#CharacterManager table tbody tr td {
    padding: 0.4rem 0.5rem;
    overflow: hidden;
}

#CharacterManager table tbody {
    background-color: #282830;
}

#CharacterManager table tbody .to-delete {
    position: relative;
}

#CharacterManager table tbody .to-delete::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 86%;
    height: 1px;
    background-color: red; /* Line color */
    transform: translateY(-50%);
}

#CharacterManager table tbody tr:first-child {
    border-top: none !important;
}

#CharacterManager table tbody tr td img {
    height: 28px;
    width: 28px;
}

#CharacterManager table tbody tr td button {
    width: 68px;
    padding: 0.0675rem 0.5rem;
    font-size: 14px;
}

#CharacterManager table tbody tr td .form-check-input {
    margin-top: 0;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}

@media (max-width: 767px) {
    main#Profile {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
