:root {
    --bs-body-bg: #f0f1f1;
    --side-navigation-width: 67.15px;
    /* --theme-background-color: #f0f1f1; */ /* Default light theme color */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #1c1c1f; /* Dark theme color */

    --general-btn-bg-color: #dd8050;
    --general-btn-bg-hover-color: rgb(221, 128, 80, 0.8);

    --boss-hp-color: #ff9797;
    --clear-time-color: #bbffbb;
    --clear-date-color: #97dfff;
    --region-color: #97dfff;
    --gate-bg-color: rgba(214, 0, 0, 0.5);
    --spec-color: #e6b18b;

    --dps-bg-image-color: rgba(91, 33, 40, 0.75);
    --dps-hover-color: rgba(91, 33, 40, 0.55);
    --dps-border-color: rgba(91, 33, 40, 0.85);

    --supp-bg-image-color: rgba(255, 227, 201, 0.5);
    --supp-hover-color: rgba(255, 227, 201, 0.4);
    --supp-border-color: rgba(255, 227, 201, 0.2);

    --skill-bg-color: rgba(34, 33, 31, 0.25);
    --skill-bg-hover-color: rgba(34, 33, 31, 0.4);
    --skill-bg-image-color: rgba(0, 110, 161, 0.75);
    --skill-hover-color: rgba(0, 110, 161, 0.55);
    --skill-border-color: rgba(0, 110, 161, 0.4);

    --arcana-bg-image-color: rgba(182, 123, 12, 0.5);
    --arcana-hover-color: rgba(182, 123, 12, 0.4);
    --arcana-border-color: rgb(141, 92, 1, 0.5);
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

html,
body {
    overflow-x: hidden;
    transition: background-color 0.4s ease;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100dvh;
    width: 100vw;
}

main,
header {
    margin-left: var(--side-navigation-width);
}

.font-special {
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-ita {
    font-style: italic;
}

.fw-light {
    font-weight: 400;
}

.fw-normal {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.no-text-shadow {
    text-shadow: none;
}

.overflow-true {
    overflow: visible;
}
.not-selectable {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.no-link {
    text-decoration: none !important;
    color: inherit;
}

.hover-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.hidden-i {
    display: none !important;
}

.visible-i {
    display: block !important;
}

.main-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

@media (max-width: 767px) {
    main,
    header {
        margin-left: 0px;
    }
}
