:root {
    --bs-body-bg: #f0f1f1;
    --side-navigation-width: 60px;
    /* --theme-background-color: #f0f1f1; */ /* Default light theme color */
}

[data-bs-theme="dark"] {
    --bs-body-bg: #1c1c1f; /* Dark theme color */
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

html,
body {
    overflow-x: hidden;
    transition: background-color 0.5s ease;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    height: 100dvh;
}

main {
    margin-left: var(--side-navigation-width);
}

.font-ita {
    font-style: italic;
}

.fw-light {
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}

.not-selectable {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.no-link {
    text-decoration: none !important;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.hidden-i {
    display: none !important;
}

.visible-i {
    display: block !important;
}

@media (max-width: 767px) {
    main {
        margin-left: 0px;
    }
}
